node_modules
npm-debug.log
.env
.env.*.php
.vscode
.git
.gitignore
composer.phar
/vendor
/.idea
.phpstorm.meta.php
_ide_helper.php
.env.backup
.phpunit.result.cache
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
